In [1]:
sayi = 10

In [3]:
type(sayi)

int

In [5]:
def greet ():
    return "Hello"

print(greet(), "Glenn")
print(greet(), "Sally")

Hello Glenn
Hello Sally

In [6]:
def greet(lang) :
    if lang == 'es':
        return 'Hola'
    elif lang == 'fr':
        return 'Bonjour'
    else:
        return 'Hello'
    
print(greet('es'), "Glenn" )
print(greet('fr'), "Sally")
print(greet('tr'), "Ender")

Hola Glenn
Bonjour Sally
Hello Ender

In [7]:
def addtwo(a, b):
    added = a + b 
    return added

addtwo(3, 5)

8

In [8]:
n = 5

while n > 0 :
    print(n)
    n = n-1

print("Blastoff")
print(n)

5
4
3
2
1
Blastoff
0

In [9]:
n = 5

while n > 0 :
    n = n-1
    print(n)

print("Blastoff")
print(n)

4
3
2
1
0
Blastoff
0

In [10]:
friends = ['Jo', 'Al', 'Ep']

for friend in friends:
    print('Happy new year:', friend)   #comma means space.
print('Done!')

Happy new year: Jo
Happy new year: Al
Happy new year: Ep
Done!

In [11]:
largest_so_far = -1
print("Before", largest_so_far)

for the_num in [9, 41, 12, 3, 74, 15]:
    if the_num > largest_so_far :
        largest_so_far = the_num
    print(largest_so_far, the_num)

print('After', largest_so_far)

Before -1
9 9
41 41
41 12
41 3
74 74
74 15
After 74

In [12]:
#Counting in a Loop

zork = 0 
print('Before', zork)

for thing in [9, 41, 12, 3, 74, 15] :
    zork = zork + 1
    print(zork, thing)

print('After', zork)

Before 0
1 9
2 41
3 12
4 3
5 74
6 15
After 6

In [1]:
#Summing in a Loop

zork = 0
print('Before', zork)

for thing in [9, 41, 12, 3, 74, 15] :
    zork = zork + thing
    print(zork, thing)

print('After', zork)

Before 0
9 9
50 41
62 12
65 3
139 74
154 15
After 154

In [86]:
#Finding the Average in a Loop

count = 0
summ = 0 
print('Before', count, summ)

for value in [9, 41, 12, 3, 74, 15] :
    count = count + 1 
    summ = summ + value
    print(count, summ, value)

print('After', count, summ, summ / count)

Before 0 0
1 9 9
2 50 41
3 62 12
4 65 3
5 139 74
6 154 15
After 6 154 25.666666666666668

In [3]:
#Filtering in a Loop 

print('Before')

for value in [9, 41, 12, 3, 74, 15] :
    if value > 20 :
        print('Large Number: ', value)

print('After')

Before
Large Number:  41
Large Number:  74
After

In [4]:
#Search Using a Boolean Variable

found = False
print('Before', found)

for value in [9, 41, 12, 3, 74, 15] :
    if value == 3:
        found = True
    print(found, value)

print('After', found)

Before False
False 9
False 41
False 12
True 3
True 74
True 15
After True

In [5]:
#How to find the smallest value?

largest_so_far = -1
print('Before', largest_so_far)

for the_num in [9, 41, 12, 3, 74, 15] :
    if the_num > largest_so_far :
        largest_so_far = the_num
    print(largest_so_far, the_num)

print('After', largest_so_far)

Before -1
9 9
41 41
41 12
41 3
74 74
74 15
After 74

In [7]:
#Finding the smallest value:

smallest = None 
print('Before', smallest)

for value in [9, 41, 12, 3, 74, 15] :
    if smallest is None :
        smallest = value 
    elif value < smallest :
        smallest = value
    print(smallest, value)

print('After', smallest)

Before None
9 9
9 41
9 12
3 3
3 74
3 15
After 3

In [8]:
###########   Strings    ###########

In [9]:
str1 = "Hello"
str2 = 'there'

bob = str1 + str2
print(bob)

Hellothere

In [10]:
str3 = '123'
str4 = str3 + 1

TypeError: can only concatenate str (not "int") to str

In [11]:
x = int(str3) + 1
print(x)

124

In [12]:
name = input('Enter:')
print(name)

Alperen

In [13]:
fruit = 'banana'
letter = fruit[1]
print(letter)

a

In [14]:
x = 3
w = fruit[x - 1]
print(w)

n

In [15]:
fruit = 'banana'
print(len(fruit))

6

In [16]:
fruit = 'banana'
index = 0

while index < len(fruit) :
    letter = fruit[index]
    print(index, letter)
    index = index + 1

0 b
1 a
2 n
3 a
4 n
5 a

In [17]:
fruit = 'banana'

for letter in fruit :
    print(letter)

b
a
n
a
n
a

In [20]:
# Looping and Counting 

word = 'banana'
count = 0

for letter in word :
    if letter == 'a' :
        count = count + 1 
print(count)

3

In [22]:
s = "Monty Python"

print(s[0:4])
print(s[6:7])
print(s[6:20])

print(s[:2])
print(s[8:])
print(s[:])

Mont
P
Python
Mo
thon
Monty Python

In [25]:
a = 'Hello'
b = a + 'There'
print(b)

c = a + ' ' + 'There'
print(c)

HelloThere
Hello There

In [28]:
# Using in as a ligocal Operator

fruit = 'banana'
'n' in fruit

True

In [29]:
'nan' in fruit

True

In [31]:
if 'a' in fruit :
    print('Found it!')

Found it!

In [35]:
greet = 'Hello Bob'
zap = greet.lower()
print(zap)
print(greet) #!!!!!

hello bob
Hello Bob

In [33]:
print('Hi There' .lower())

hi there

In [37]:
greet = 'Hello Bob'
print(type(greet))
dir(greet)

<class 'str'>

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [40]:
stuff = 'Hello\nWorld'
print(stuff)
len(stuff)

Hello
World

11

In [41]:
###### LISTS ######

In [42]:
list_1 = ['red', 24, 98.4, [5, 6], 'Alperen']
print(list_1)

['red', 24, 98.4, [5, 6], 'Alperen']

In [45]:
for i in list_1 :
    print(i)

print('\t !!Blastoff!!')

red
24
98.4
[5, 6]
Alperen
	 !!Blastoff!!

In [46]:
list_2 = ['Joseph', 'Glenn', 'Sally']
print(list_2[1])

Glenn

In [47]:
# Lists are mutable :

list_3 = [2, 14, 26, 41, 63]
print(list_3)
list_3[2] = 28
print(list_3)

[2, 14, 26, 41, 63]
[2, 14, 28, 41, 63]

In [51]:
# Strings are immutible :

fruit = 'Banana'
print(fruit[0])

x = fruit.lower()
print(x)

print(fruit) # fruit is still same.

B
banana
Banana

In [52]:
# How long is a List?

x = [1, 2, 'joe', 99]
print(len(x))

4

In [56]:
# Using the range function :

for i in range(4) :
    print(i)

0
1
2
3

In [57]:
friends = ['Joe', 'Glenn', 'Sally']
print(len(friends))

print(range(len(friends)))

3
range(0, 3)

In [59]:
friends = ['Joe', 'Glenn', 'Sally']

for friend in friends :
    print('Happy new year:', friend)

Happy new year: Joe
Happy new year: Glenn
Happy new year: Sally

In [60]:
for i in range(len(friends)):
    friend = friends[i]
    print('Happy new year:', friend)

Happy new year: Joe
Happy new year: Glenn
Happy new year: Sally

In [61]:
a = [1, 2, 3]
b = [4, 5, 6]

c = a + b 
print(c)

[1, 2, 3, 4, 5, 6]

In [65]:
# Lists can be sliced using:

t = [9, 41, 12, 3, 74, 15]

print(t[1:3])
print(t[:4])
print(t[3:])
print(t[:])

[41, 12]
[9, 41, 12, 3]
[3, 74, 15]
[9, 41, 12, 3, 74, 15]

In [68]:
x = list()
print(type(x))
dir(x)

<class 'list'>

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [70]:
print(dir(list))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [72]:
stuff = list()
stuff.append('book')
stuff.append(99)
print(stuff)

['book', 99]

In [73]:
stuff.append('cookie')
print(stuff)

['book', 99, 'cookie']

In [75]:
# Empty List

x = list()
print(x)

[]

In [78]:
# Is Somthing in a List? Logical query :

some = [ 1, 2, 3, 4, 5]

print(4 in some) 
print(9 in some)

True
False

In [81]:
nums = [3, 41, 12, 9, 74, 15]
print(len(nums))
print(max(nums))
print(min(nums))

6
74
3

In [90]:
# numbers = [1,2,3,4,5,6,7]

# x = sum(numbers)
# print(x)                         ######### !!!!!

In [91]:
abc = 'With three words'
stuff = abc.split()
print(stuff)

['With', 'three', 'words']

In [95]:
print(len(stuff))
print(stuff[0])

for x in stuff :
    print(x)

3
With
With
three
words

In [96]:
##### Dictionaries #####

In [102]:
purse = dict()

purse['money'] = 12
purse['candy'] = 3
purse['tissues'] = 75

print(purse)

{'money': 12, 'candy': 3, 'tissues': 75}

In [103]:
purse['candy'] = purse['candy'] + 2
print(purse)

{'money': 12, 'candy': 5, 'tissues': 75}

In [106]:
## Key and Value :

ddd = dict()
ddd['age'] = 21
ddd['course'] = 182
print(ddd)

ddd['age'] = 23
print(ddd)

{'age': 21, 'course': 182}
{'age': 23, 'course': 182}

In [108]:
jjj = {
    'chuck' : 1,
    'fred' : 42,
    'jan' : 100
}

print(jjj)

{'chuck': 1, 'fred': 42, 'jan': 100}

In [109]:
ooo = {}
print(ooo)

{}

In [111]:

rrr = {
    'csev' : 2,
    'zqian' : 1,
    'cwen' : 2
}
names = ['csev', 'cwen', 'csev', 'zqian', 'cwen']

for name in names :
    if name not in rrr :
        rrr[name] = 1
    else:
        rrr[name] = rrr[name] + 1

print(rrr)

{'csev': 4, 'zqian': 2, 'cwen': 4}

In [113]:
rrr = {
    'csev' : 2,
    'zqian' : 1,
    'cwen' : 2
}

rrr.get('csev')

2

In [114]:
dir(dict)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [115]:
##### Tuples #####

In [116]:
x = ('Glenn', 'Sally', 'Alperen')
print(x[2])

Alperen

In [117]:
print(type(x))

<class 'tuple'>

In [119]:
y = ( 1, 2, 3, 4)
print(y)
print(max(y))

(1, 2, 3, 4)
4

In [120]:
(x, y) = (4 , 'fred')
print(y)

fred

In [122]:
d = dict()
d['csev'] = 2
d['cwen'] = 4

for (k,v) in d.items() :
    print(k, v)

csev 2
cwen 4

In [123]:
tups = d.items()
print(tups)

dict_items([('csev', 2), ('cwen', 4)])

In [124]:
print(d)

{'csev': 2, 'cwen': 4}

In [125]:
print(d)

{'csev': 2, 'cwen': 4}